* {
  padding: 0;
margin: 0;
}

/* color del body */
body {
  background-color: blue;
padding: 0;
margin: 0;  
}

/* encabezado */
.contenedor-encabezado {
width: 100%;
height: 100px;
display: flex;
}

.contenedor-logo {
width: 20%;
height: 100px;
display: flex;
float: left;
background-color: white;
}

.contenedor-titulo-principal {
width: 80%;
height: 100px;
display: flex;
background-color: white;
text-align: center;
float: left;
align-items: center;
}

.contenedor-titulo-principal h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
font-weight: bold;
color: blue;
letter-spacing: 1px;
}

/* menu de navegación */
nav {
width: 100%;
height: 100px;
background-color: lightblue;
text-align: center;
padding-top: 24px;
box-sizing: border-box;
text-transform: uppercase;
}

nav ul li {
  display: inline;
}

nav ul li a {
color: blue;
font-size: 50px;
text-decoration: none;
padding-left: 15px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1px;
transition: font-size 0.3s ease-in-out;
}

nav ul li a:hover {
color: lightblue;
background-color: blue;
font-size: 60px;
}

/* carrusel */
.contenedor-carrusel {
width: 100%;
height: 400px;
position: relative;
overflow: hidden;
}

.slide {
width: 100%;
height: 100%;
position: absolute;
opacity: 0;
transition: opacity 1s ease-in-out;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
}

.slide.active {
  opacity: 1;
}

@keyframes carruselAnimation {
0% {
  opacity: 0;
}

25% {
  opacity: 1;
}

75% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}

/* actividades */
.titulo {
width: 100%;
height: 100px;
background-color: blue;
display: flex;
}

.titulo-actividades {
width: 50%;
height: 100px;
background-color: white;
display: flex;
box-sizing: border-box;
justify-content: center;
align-items: center;
margin: 0;
} 

.titulo-actividades h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
letter-spacing: 1px;
color: blue;
margin: 0;
}

.contenedor-principal {
width: 100%;
display: flex;
background-color: blue;
}

.reunion {
width: 100%;
height: 400px;
display: flex;
}

.contenedor-texto {
width: 50%;
height: 400px;
}

.contenedor-imagen {
width: 50%;
height: 300px;
}

.contenedor-texto h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
text-align: left;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
}

.contenedor-texto p {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
text-align: justify;
line-height: 1.5;
letter-spacing: 1px;
color: white;
margin: 10px;
}

.contenedor-imagen img {
max-width: 100%;
height: 350px;
margin: 10px;
object-fit: cover;
}

.contenedor-secundario {
width: 100%;
height: 400px;
display: flex;
}

.ayuda,
.fiesta {
width: 50%;
height: 400px;
display: flex;
flex-direction: column;
border: 2px solid lightblue;
}

.ayuda h1,
.fiesta h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
}

.ayuda p,
.fiesta p {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
text-align: justify;
line-height: 1.5;
letter-spacing: 1px;
color: white;
margin: 10px;
}

/* pie de la pagina */
.pie-pagina {
width: 100%;
height: 100px;
background-color: white;
display: flex;
}

.titulo-pie {
width: 30%;
height: 100px;
display: flex;
background-color: blue;
box-sizing: border-box;
justify-content: center;
align-items: center;
margin: 0;
}

.titulo-pie h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 90px;
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: bold;
text-align: center;
margin: 0;
}

.pie-pagina nav {
width: 100%;
height: 100px;
background-color: white;
text-align: center;
padding-top: 40px;
box-sizing: border-box;
text-transform: uppercase;
flex-grow: 1;
}

.pie-pagina nav ul {
display: inline-block;
padding: 0;
}

.pie-pagina nav ul li {
display: inline-block;
}

.pie-pagina nav ul li a {
font-size: 20px;
/* Reducí el tamaño de fuente para que se ajuste mejor */
text-decoration: none;
padding-left: 15px;
font-weight: bold;
letter-spacing: 1px;
font-family: Arial, Helvetica, sans-serif;
}

.pie-pagina nav ul li a[href="https://www.facebook.com/adivica.cabrero"] {
color: blue;
}

.pie-pagina nav ul li a[href="mailto:adivica.cabrero@gmail.com"] {
color: red;
}

.pie-pagina nav ul li a[href="https://www.facebook.com/adivica.cabrero"]:hover {
background-color: blue;
color: white;
}

.pie-pagina nav ul li a[href="mailto:adivica.cabrero@gmail.com"]:hover {
background-color: red;
color: white;
}

/* Dispositivos moviles */
@media only screen and (max-width: 600px) {
/* encabezado */
.contenedor-encabezado {
width: 100%;
height: 100px;
display: flex;
}

.contenedor-logo {
width: 30%;
height: 100px;
display: flex;
float: left;
background-color: white;
}

.contenedor-titulo-principal {
width: 70%;
height: 100px;
display: flex;
background-color: white;
text-align: center;
float: left;
align-items: center;
}

.contenedor-titulo-principal h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color: blue;
letter-spacing: 1px;
}

/* menu de navegación */
nav {
width: 100%;
height: 100px;
background-color: lightblue;
text-align: center;
padding-top: 24px;
box-sizing: border-box;
text-transform: uppercase;
}

nav ul li {
    display: inline;
}

nav ul li a {
color: blue;
font-size: 15px;
text-decoration: none;
padding-left: 15px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1px;
transition: font-size 0.3s ease-in-out;
}

nav ul li a:hover {
color: lightblue;
background-color: blue;
font-size: 60px;
}

/* carrusel */
.contenedor-carrusel {
width: 100%;
height: 400px;
position: relative;
overflow: hidden;
}

.slide {
width: 100%;
height: 100%;
position: absolute;
opacity: 0;
transition: opacity 1s ease-in-out;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
}

.slide.active {
    opacity: 1;
}

@keyframes carruselAnimation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* actividades */
.titulo {
width: 100%;
height: 100px;
background-color: blue;
display: flex;
}

.titulo-actividades {
width: 100%;
height: 100px;
background-color: white;
display: flex;
box-sizing: border-box;
justify-content: center;
align-items: center;
margin: 0;
} 

.titulo-actividades h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
letter-spacing: 1px;
color: blue;
margin: 0;
}

.contenedor-principal {
width: 100%;
display: flex;
background-color: blue;
flex-direction: column;
}

.reunion {
width: 100%;
height: 450px;
display: flex;
flex-direction: column;
}

.contenedor-texto {
width: 100%;
height: 200px;
}

.contenedor-imagen {
width: 50%;
height: 200px;
}

.contenedor-texto h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
text-align: left;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
}

.contenedor-texto p {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-align: justify;
line-height: 1.5;
letter-spacing: 1px;
color: white;
margin: 10px;
}

.contenedor-imagen img {
max-width: 100%;
height: 200px;
margin: 10px;
object-fit: cover;
}

.contenedor-secundario {
width: 100%;
height: 400px;
display: flex;
flex-direction: column;
}

.ayuda,
.fiesta {
width: 100%;
height: 400px;
display: flex;
flex-direction: column;
border: 2px solid lightblue;
}

.ayuda h1,
.fiesta h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
}

.ayuda p,
.fiesta p {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-align: justify;
line-height: 1.5;
letter-spacing: 1px;
color: white;
margin: 10px;
}

/* pie de la pagina */
.pie-pagina {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
}

.titulo-pie {
  width: 30%;
  height: 100px;
  display: flex;
  background-color: blue;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.titulo-pie h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.pie-pagina nav {
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  flex-grow: 1;
}

.pie-pagina nav ul {
  display: inline-block;
  padding: 0;
}

.pie-pagina nav ul li {
  display: inline-block;
}

.pie-pagina nav ul li a {
  font-size: 15px;
  /* Reducí el tamaño de fuente para que se ajuste mejor */
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.pie-pagina nav ul li a[href="https://www.facebook.com/adivica.cabrero"] {
  color: blue;
}

.pie-pagina nav ul li a[href="mailto:adivica.cabrero@gmail.com"] {
  color: red;
}

.pie-pagina nav ul li a[href="https://www.facebook.com/adivica.cabrero"]:hover {
  background-color: blue;
  color: white;
}

.pie-pagina nav ul li a[href="mailto:adivica.cabrero@gmail.com"]:hover {
  background-color: red;
  color: white;
} 
}